In [6]:
import numpy as np
import pandas as pd

In [13]:
exam_df = pd.read_csv("student_exam_logistic_dataset.csv")
exam_df.head()

   Study_Hours  Sleep_Hours  Coffee_Intake  Watches_TV  Passed
0            6            4              0           5       1
1            3            5              1           1       0
2            6            4              4           0       1
3            5            7              0           0       1
4            1            5              1           4       0

In [8]:
exam_df["Passed"] = exam_df["Passed"].astype("int")

In [18]:
X = np.asanyarray(exam_df[["Study_Hours", "Sleep_Hours", "Coffee_Intake", "Watches_TV"]])
y = np.asanyarray(exam_df["Passed"])

In [19]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2)

Nowww

In [20]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(C=0.01 , solver= "liblinear").fit(X_train , y_train)

In [22]:
yhat = LR.predict(X_test)

In [24]:
from sklearn.metrics import jaccard_score

jaccard_score(y_test , yhat , pos_label=1)

np.float64(0.7692307692307693)