lets gooooooo

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.metrics import r2_score
from scipy.optimize import curve_fit

In [9]:
df = pd.read_csv("energy_data.csv")
df.head(10)

,مساحت (m²),تعداد طبقات,عایق‌بندی,دمای محیط (°C),رطوبت محیط (%),مصرف انرژی سالانه (kWh)
0,224.117296,1,0.284074,16.478864,77.260250,3062.513876
1,121.534834,3,0.793572,17.547015,64.911569,3589.034801
2,106.712863,2,0.207059,4.423617,54.369303,3334.800860
3,187.828692,1,0.986028,17.017681,83.508509,2824.544118
4,229.867242,4,0.330909,28.438649,31.159979,4233.701893
5,155.776615,2,0.456439,23.870180,55.142007,2852.913326
6,295.191050,4,0.676409,0.448319,65.953362,5846.525527
7,221.207435,1,0.644459,9.959121,86.067894,3343.734926
8,170.232975,3,0.916345,5.449085,21.084096,4348.532255
9,148.029380,4,0.962561,8.433551,39.439924,4660.807052

In [18]:
y = df["مصرف انرژی سالانه (kWh)"]
area = df["مساحت (m²)"]
floors = df["تعداد طبقات"]
temp = df['دمای محیط (°C)']
insulation = df["عایق\u200cبندی"]
humidity = df["رطوبت محیط (%)"]


XK = np.vstack ((area , floors , temp , insulation , humidity))

In [25]:
def model1(X, a, b, c, d):
    area, floors, insulation, temp, humidity = X
    return a * np.log(b * area + 1) + c * temp**2 + d * np.sqrt(humidity)

In [12]:
def model2(X, a, b, c, d, e):
    area, floors, insulation, temp, humidity = X
    return (
        a * area**0.8 +
        b * floors +
        c * np.exp(-temp / 20) +
        d * np.log(humidity + 1) +
        e * insulation
    )

In [ ]:
params_1 , _ = curve_fit(model1 , XK ,y)
print(params_1)

In [32]:
params_2 , _ = curve_fit(model2, XK ,y)

In [35]:
y_m1 = model1(XK , *params_1)
y_m2 = model2(XK , *params_2)

In [36]:
r2_1 = r2_score(y , y_m1)
print(r2_1)
r2_2 = r2_score(y , y_m2)
print(r2_2)

0.19111639128657532
0.9699401605430635